/* Basic Style */

body {
  margin: 0;
}

.main-content {
  margin: 0 10px;
  min-width: 300px;
}

.adicionar,
.fazer,
.fazendo,
.feito  {
  background-color: white;
  border: black;
  border-radius: 5px;
  border-style: solid;
  width: 100%;
  max-width: 310px;
  min-width: 300px;
  margin-bottom: 10px;
}

.list {
  margin: 0;
  padding: 0;
}

.item, h3 {
  clear:both;
  list-style:none;
}

input, button {
  outline: none;
}

button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  font-family: 'Open Sans';
  cursor: pointer;
}

button:hover {
  color: #111;
}

button i {
  margin-right: 3px;
}

/* Heading */
h3,
label[for='new-task'] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 10px 0 20px;
  margin: 0;
  text-transform: uppercase;
}

input[type="text"] {
  margin: 4px;
  font-size: 18px;
  line-height: 18px;
  border: 1px solid #ddd;
  padding: 0 0 0 8px;
  background: #fff;
  border-radius: 6px;
  font-family: 'Open Sans';
  color: #888;
}

input[type="text"]:focus {
  color: #333;
}


/* New Task */
label[for='new-task'] {
  display: block;
  margin: 0 0 20px;
}

input#new-task {
  margin-top: 10px;
  float: left;
  width: 97%;
}

.add-form {
  display: flex;
  flex-direction: column;
}

.add-form > button {
  align-self: end;
  background-color: black;
  border: 1px solid black;
  border-radius: 4px;
  color: white;
  margin: 4px;
}

.add-form > button:hover {
  background-color: white;
  color: black;
}

/* Task list */
li.item.item.editMode {
  max-height: 81px;
}

.item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}

.item > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 15px;
}

.item > label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  padding-left: 11px;
}

.item >  input[type="text"] {
  max-width: 203px;
  line-height: 40px;
}

.item > .delete:hover {
  color: #CF2323;
}
  
/* Completed */
#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}


/* Edit Task */
.list .item input[type=text] {
  display:none;
}

.list .item.editMode input[type=text] {
  display:block;
}

.list .item.editMode label {
  display:none;
}

ul {
  list-style-type: none;
}

h3 {
  padding-left: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  
  /* Position the tooltip */
  top: -19px;
  right: 35%;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media only screen and (min-width: 768px) {
  .grid1 {
    display: grid;
    grid-auto-rows: min(15rem, 100%);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: start;
    grid-gap: 8px;
  }

  .adicionar {
    grid-column: 1;
    grid-row: 2/5;
  }

  .fazer {
    grid-column: 2;
  }
}